.topNews{
    height: 405px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
}
.currentMatch{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
    padding: 5px;
   
}