.news-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px;
    gap: 20px;
  }
  
  .news-card {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .news-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .news-card-image img {
    width: 100px;
    height: auto;
    object-fit: cover;
  }
  
  .news-card-content {
    h2 {
      font-size: 18px;
      margin-bottom: 10px;
    }
  
    p {
      font-size: 14px;
      line-height: 1.5;
    }
  }
  




  .team1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
   
  }
  /* .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
  } */
  .team2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
   
  }


  .image-div {
  
    text-align: left;
  }
  
  .image {
    width: 100%;
    height: auto;
  }
  
  .content-div {
  
    padding: 20px;
    align-items: left;
  }
  
  .content-top {
    margin-bottom: 20px;
  }
  
  .content-bottom {
    margin-top: 20px;
  }
  



  .image-div2 {
  
    text-align: right;
  }
  
  .image {
    width: 100%;
    height: auto;
  }
  
  .content-div2 {
  
    padding: 20px 0 20px 20px;
    align-items: right;
  }
  
  .content-top2 {
    margin-bottom: 20px;
  }
  
  .content-bottom2 {
    margin-top: 20px;
  }



  .cardDetails{
    height: 0%;
  }
  .testNews{
    height:200px ;
    width: 350px;
  }